<div class="menu_section">
    <h3>Exemplo título</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-home"></i> Menu simples <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="@Url.Action("Index")">Home</a></li>
                <li><a href="@Url.Action("About")">About</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="menu_section">
    <h3>Exemplo título</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="#level1_1">Level One</a>
                <li>
                    <a>Level One<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li class="sub_menu">
                            <a href="#">Level Two</a>
                        </li>
                        <li>
                            <a href="#">Level Two</a>
                        </li>
                        <li>
                            <a href="#">Level Two</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#level1_2">Level One</a>
                </li>
            </ul>
        </li>
    </ul>
</div>